/**
 * Responsive style.
 */
@media (max-width: @breakpoint-small-max) {
  #header {
    .uk-navbar-container {
      height: 50px;
    }
    // .uk-navbar-nav > li > a, .uk-navbar-item,
    .uk-navbar-toggle {
      height: 46px;
    }
    .uk-logo > img, svg {
      height: 30px;
    }
  }
  .uk-slideshow-items {
    h1 {
      font-size: 2.2em;
    }
    // .uk-button {
    //   line-height: 32px;
    // }
  }
  .uk-slidenav {
    display: none;
  }
}

@media (max-width: @breakpoint-medium-max) {

}
